<nav class="navbar navbar-expand-lg bg-light">

  <span class="navbar-brand mb-0 h1">{{title}}</span>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/blog-all' href="#">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink='/blog-my' href="#">My Blog</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink='/blog-adding' href="#">New Blog</a>
        </li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>