<div class="w-75 container mx-auto my-5">

    <div class="mb-4 ">
        <h2 class="text-center">Sign In</h2>
    </div>

    <div class="mx-auto w-50">
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input 
                type="email" 
                class="form-control" 
                aria-describedby="emailHelp" 
                name="email" 
                [(ngModel)]="dataForm.email"
                #email="ngModel"
                [pattern]="emailPattern"
                required 
                >
                <div *ngIf="(signInForm.submitted  || email.dirty )&& (email.invalid)">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <!-- <div *ngIf="email.errors.pattern">Email not valid</div> -->
                </div>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input 
                type="password" 
                class="form-control" 
                name="password" 
                [(ngModel)]="dataForm.password" 
                #password="ngModel"
                minlength="6"
                required
                >
                <div *ngIf="signInForm.submitted && password.invalid">
                    <small *ngIf="password.errors.required">Password is required</small>
                    <small *ngIf="password.errors.minlength">Password must be at least 6 characters</small>
                </div>

            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>