.blog-card{
    display: block;
    position: relative;
    width: 400px;
    height: 250px;
    transition: all 450ms ease-out 0s; 
    margin: 20px 18px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.blog-card > :hover{
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.35);
    top: 0%;
    height: 100%;
}

.blog-title{
    position: relative;
    background: rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 40%;
    top: 60%;
    box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.3);
    padding: 10px 12px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
    cursor: pointer;
}

.blog-title > p{
    color: rgb(56, 55, 55);
    width: 380px;
    height: 38px;
    /* margin: 8px 0; */
    
}